.bm1{
    
    margin: auto;
    width:80%;
    height: 62rem;
    background-image: url("../images/li.jpg");
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-size: cover;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;   
    margin: auto;
    border-radius: 10px;
    /* column-gap: 12rem; */


}

.sgn{
    width: 567px;
    height: 846px;
    /* border: solid black 2px; */
    background-color: aliceblue;
    border-radius: 8px;
  
}

.bi{
    height: 350px;
    border-top: 4px;
  
 
}


#im{
    width: 100%;
    height: 100%;
    
   border-top: 65px;
}
.lp{
    height: 100px;
   
}

.hd{
color: rgb(34, 34, 44);
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: 33px;
margin-top: 20px;
}
.cred{
    margin: auto;
    width: 77%;
 
}
.us{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-size: cover;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;  
     width: 100%;

}
.eml{
    margin-top: 20px;
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-size: cover;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;  
    /* height: 50px; */
    width: 100%;
}
.ued{
    height: 50px;
}
.ui{
    height: 48px;
    width: auto;
}
.usr{
    margin-left: 10px;
    height: 27px;
    width: 198px;
}

.emil{
 margin-left: 10px;
 height: 27px;
 width: 198px;
}


.pwl{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-size: cover;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;  
    /* height: 50px; */
    margin-top: 2rem;
    width: 100%;
  
}

.pwil{
    margin-left: 10px;
     height: 27px;

    width: 198px;
}
.rm{
    margin-left: 158px;
    margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.li{
    margin-top: 20px;
    text-align: center;
}

#lbn{
    color: white;
    border-radius: 10px;
    background-color: rgb(5, 26, 63);
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    width: 120px;
}

.fp{
    font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  text-align: center;
}
.da{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;

}

@media screen and (min-width: 319px) and (max-width:369px) {
      
    
      .sgn{
        height: 100%;
        border-radius: 0px;
      }
   .bm1{
    width: 110%;
    height: 46rem;
   }
   .hd{
    font-size: 26px;
   }
   .bi{
    height: 291px;
   }
   #emi{
    width: 131px;
   }
   #pwi{
    width: 131px;
   }
     .re{
        margin-left: 92px;
     }
     .da{
        margin-left: 92px;
     }
    
     .cre{
        margin-top: 28px;
     }
     .rm{
        margin-left: 68px;
    }
    .da{
        margin-left: 10px;
    }
   

}


@media screen and (min-width: 370px) and (max-width:419px) {
      
    
      .sgn{
        height: 100%;
        border-radius: 0px;
      }
   .bm1{
    width: 110%;
    height: 46rem;
   }
   .hd{
    font-size: 28px;
   }
   .bi{
    height: 291px;
   }
   #emi{
    width: 161px;
   }
   #pwi{
    width: 161px;
   }
       .cre{
        margin-top: 28px;
     }

}

@media screen and (min-width: 420px) and (max-width:764px) {
      
    
      .sgn{
        height: 100%;
        border-radius: 0px;
      }
   .bm1{
    width: 110%;
    height: 46rem;
   }
   .hd{
    font-size: 28px;
   }
   .bi{
    height: 291px;
   }
     

}

@media screen and (min-width: 765px) and (max-width:1020px) {
      
    .bm1{
        width: 93%;
    }
      .sgn{
        width: 472px;
      }

}