


#box{
   width:400px ; 
   height:90vh;
   margin: auto; 
   border:1px solid  black;
   margin-top: 5vh;
   border-radius: 8px;
   background-color: rgb(19, 36, 36);
   font-family: 'Times New Roman', Times, serif;
  

}
 @media screen and (max-width: 425px) {
    .box {
       width: 277px;
    }
 } 
 @media screen and ( max-width: 600px) {
    .box {
       width: 351px;
       height: 580px;
    }
 } 
